*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: "Archivo", sans-serif !important;
  color: #1a1a1a !important;
  background-color: #e1dedb !important;
}
